.box-inputs1 h1 {
  display: flex;
  color:black;
  font-size: 20px;
  margin: 15px 5px 0 5px;
}
.box-inputs1 h2{
  color:orange;
  font-family: Montserrat;
  font-size: 20px;
  margin: 15px 0 0 0;

}
.box-inputs1 p {
  color: black;
  font-size: 16px;
  margin: 50px 110px 0 0;
}
.exp h1{
  margin: 0 0 20px 0;
}

.exp p{
  margin: 0 0 20px 0;
}
.logos h1{
  color:black;
  font-size:14px;

}
.logos p {
  color: black;
  font-size:10px;
}
.text2 h1{
  width: 325px;
  height: 80px;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0 170px 0 0;
}
.text2 p {
  width: 500px;
  height: 80px;
  display: flex;
  justify-content: center;
  color: white;
  margin: 20px 0 0 0;
}

.lor1 p{
  width: 320px;
  height: 80px;
  display: flex;
  justify-content: center;
  color: white;
  font-size:  14px;
  margin: 0px 0 0px 55px;
}

.lor p{
  width: 320px;
  height: 80px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  margin: 0px 0 0px 55px ;
}
.Awesome2 h2{
  font-family:Montserrat;
  font-size: 36px;
}

.Awesome1  p {
  color:#86878B;
  font-size: 14px;
  margin: 40px 0 0 0;
}

.Awesome1 h1{
  color:black;
  font-size: 24px;
}
.Blue-box p {
  display: flex;
  justify-content: center;
}

.catt h1{
display:flex;
justify-content: center;
align-items: center;
color: white;
background: #000000cf;
font-size: 55px;
}

.cat1 p{
  display:flex;
  justify-content: center;
  align-items: center;
  color: #86878B;
  font-size: 14px;
  background: #000000cf;
}

.bird1 h1{
display:flex;
justify-content: center;
align-items: center;
color: white;
background: #000000cf;
font-size: 55px;
}

.bird1 p{
  display:flex;
  justify-content: center;
  align-items: center;
  color: #86878B;
  font-size: 14px;
  background: #000000cf;
}

.dogg h1{
display:flex;
justify-content: center;
align-items: center;
color: white;
background: #000000cf;
font-size: 55px;
}

.dog1 p{
  display:flex;
  justify-content: center;
  align-items: center;
  color: #86878B;
  font-size: 14px;
  background: #000000cf;
}
.customers h1{
  color:black;
  font-size: 36px;
  margin: 60px 0 40px 0;
}
.avatar h1,{
  width: 72px;
  margin: 15px 0 0 80px;
  font-size: 15px;
  color: black;
}

.avatar p{
  margin: 0 0 0 80px;
  font-size: 15px;
  color:black;
}
.text-in h1{
  margin: 0 0 60px 0;
  color: #FFFFFF
}
.text-in p{
  margin: 0 0 30px 0;
  color: white;
}

.nav-bottom1 p {
  color:white;
  font-size: 10px;
  margin-right: 20px;
}

.lor1 h1{
  color:white;
  font-size: 14px;
  margin: -45px 0 10px 60px;
}

.lor h1{
  color: white;
  font-size:14px;
  margin: -45px 0 10px 60px ;

}
