.Awesome1{
  width: 100%;
  height:  592px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;

}

.Thoughtful{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
